{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <h2>Detalhes da Escola: {{ escola.nome }}</h2>

  <!-- Informações da Escola -->
  <div class="card mt-4 mb-4">
    <div class="card-body">
      <h5 class="card-title">Informações da Escola</h5>
      <p><strong>CNPJ:</strong> {{ escola.cnpj }}</p>
      <p><strong>Nome:</strong> {{ escola.nome }}</p>
      <p><strong>Email:</strong> {{ escola.email }}</p>
      <p><strong>Telefone:</strong> {{ escola.telefone }}</p>
      <p><strong>Rua:</strong> {{ escola.rua }}</p>
      <p><strong>Bairro:</strong> {{ escola.bairro }}</p>
      <p><strong>Cidade:</strong> {{ escola.cidade }}</p>
      <p><strong>Estado:</strong> {{ escola.estado }}</p>
    </div>
  </div>

  <a href="{{ url_for('escolas') }}" class="btn btn-secondary">Voltar</a>
</div>
{% endblock %}
